.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  &.white {
    color: black;
    background-color: white;
  }

  &.grey {
    color: black;
    background-color: white;
    outline: 1px solid lightgrey;
  }

  &.black {
    color: white;
    background-color: black;
  }

  &.large {
    font-size: 16px;
  }

  &.medium {
    font-size: 14px;
  }

  &.small {
    font-size: 12px;
  }

  &.carousel {
    width: 25px;
    height: 25px;
    font-size: 10px;
    font-weight: 700;
    margin: 2px;
    padding: 6px;
  }

  &.roulette {
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 11px;
    font-weight: 700;
    right: 5px;
    bottom: 5px;
  }

  &.scrollTop {
    position: fixed;
    bottom: 10px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
  }
}
