.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  &.white {
    color: black;
    background-color: white;
  }

  &.grey {
    color: black;
    background-color: white;
    outline: 1px solid lightgrey;
  }

  &.black {
    color: white;
    background-color: black;
  }

  &.large {
    font-size: 16px;
    height: 40px;
  }

  &.medium {
    font-size: 14px;
    height: 37px;
  }

  &.small {
    font-size: 12px;
    height: 35px;
  }
}
