.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;

  &.white {
    color: black;
    background-color: white;
    border: none;
  }

  &.grey {
    color: black;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgrey;
  }

  &.black {
    color: white;
    background-color: black;
    border-radius: 10px;
  }

  &.large {
    font-size: 16px;
  }

  &.medium {
    font-size: 14px;
  }

  &.small {
    font-size: 12px;
  }
}
