.circle {
  width: 330px;
  height: 330px;
  position: relative;
  border: 2px solid black;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;

  &.start {
    animation: spin 1.5s linear infinite;
  }

  &.stop {
    animation-play-state: paused;
  }
}

@keyframes spin {
  100% {
    transform: rotate(1080deg);
  }
}

.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 30px solid black;
  left: 50%;
  top: 85px;
  z-index: 1;
}

.buttonContainer {
  position: absolute;
  bottom: 25px;
}
