.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  &.slider {
    width: 360px;
    height: 150px;
  }

  &.roulette {
    width: 360px;
    height: 540px;
  }

  &.message {
    width: 300px;
    height: 90px;
  }

  &.sido {
    width: 160px;
    max-height: 760px;
  }

  &.sort {
    width: 160px;
    height: 150px;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 60%;
  z-index: 1;
}
