.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  overflow-y: scroll;
  padding: 20px;
}

.container::-webkit-scrollbar {
  display: none;
}
