.ul {
  width: 330px;
  height: 330px;
  position: relative;
  border: 1px solid black;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
}

.list {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;

  &:first-child {
    background-color: #e96479;
    transform: rotate(0deg) skewY(-30deg);
  }
  &:nth-child(2) {
    background-color: #4d455d;
    transform: rotate(60deg) skewY(-30deg);
  }
  &:nth-child(3) {
    background-color: #f2cd5c;
    transform: rotate(120deg) skewY(-30deg);
  }
  &:nth-child(4) {
    background-color: #7db9b6;
    transform: rotate(180deg) skewY(-30deg);
  }
  &:nth-child(5) {
    background-color: #ef5b0c;
    transform: rotate(240deg) skewY(-30deg);
  }
  &:nth-child(6) {
    background-color: #609966;
    transform: rotate(300deg) skewY(-30deg);
  }
}

.text {
  position: absolute;
  left: -100%;
}
