.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 450px;
}

.thumbnail {
  border-radius: 10px;
  overflow: hidden;
  width: 220px;
  height: 220px;
  margin-bottom: 5px;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 15px;
}

.title {
  font-size: 14px;
  font-weight: 600;
}

.text {
  font-size: 12px;
  font-weight: 400;
}
