.container {
  position: relative;
}

.carousel {
  display: flex;
  overflow: hidden;
}

.image {
  flex: none;
  position: relative;
  border: 1px solid lightgrey;
  width: calc(100% - 20px);
  height: 260px;
  border-radius: 15px;
  margin: 10px;
  overflow: hidden;
  transition: 0.5s;

  &.two {
    transform: translate(calc(-100% - 20px));
  }

  &.three {
    transform: translate(calc(-200% - 40px));
  }

  &.four {
    transform: translate(calc(-300% - 60px));
  }

  &.five {
    transform: translate(calc(-400% - 80px));
  }

  &.six {
    transform: translate(calc(-500% - 100px));
  }

  &.seven {
    transform: translate(calc(-600% - 120px));
  }

  &.eight {
    transform: translate(calc(-700% - 140px));
  }

  &.nine {
    transform: translate(calc(-800% - 160px));
  }

  &.ten {
    transform: translate(calc(-900% - 180px));
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 15px;
}
