.container {
  position: relative;
}

.carousel {
  display: flex;
}

.image {
  flex: none;
  position: relative;
  border: 1px solid lightgrey;
  width: 380px;
  height: 260px;
  border-radius: 15px;
  margin: 10px;
  overflow: hidden;
  transition: 0.5s;

  &.two {
    transform: translate(-400px);
  }

  &.three {
    transform: translate(-800px);
  }

  &.four {
    transform: translate(-1200px);
  }

  &.five {
    transform: translate(-1600px);
  }

  &.six {
    transform: translate(-2000px);
  }

  &.seven {
    transform: translate(-2400px);
  }

  &.eight {
    transform: translate(-2800px);
  }

  &.nine {
    transform: translate(-3200px);
  }

  &.ten {
    transform: translate(-3600px);
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 15px;
}
