@mixin list-six {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
  &:first-child {
    background-color: #e96479;
    transform: rotate((360 / 6) * 0 + deg) skewY(-30deg);
  }

  &:nth-child(2) {
    background-color: #4d455d;
    transform: rotate((360 / 6) * 1 + deg) skewY(-30deg);
  }

  &:nth-child(3) {
    background-color: #f2cd5c;
    transform: rotate((360 / 6) * 2 + deg) skewY(-30deg);
  }

  &:nth-child(4) {
    background-color: #7db9b6;
    transform: rotate((360 / 6) * 3 + deg) skewY(-30deg);
  }

  &:nth-child(5) {
    background-color: #ef5b0c;
    transform: rotate((360 / 6) * 4 + deg) skewY(-30deg);
  }

  &:nth-child(6) {
    background-color: #609966;
    transform: rotate((360 / 6) * 5 + deg) skewY(-(180 / 6) + deg);
  }
}

@mixin list-five {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
  &:first-child {
    background-color: #e96479;
    transform: rotate((360 / 5) * 0 + deg) skewY(-18deg);
  }

  &:nth-child(2) {
    background-color: #4d455d;
    transform: rotate((360 / 5) * 1 + deg) skewY(-18deg);
  }

  &:nth-child(3) {
    background-color: #f2cd5c;
    transform: rotate((360 / 5) * 2 + deg) skewY(-18deg);
  }

  &:nth-child(4) {
    background-color: #7db9b6;
    transform: rotate((360 / 5) * 3 + deg) skewY(-18deg);
  }

  &:nth-child(5) {
    background-color: #ef5b0c;
    transform: rotate((360 / 5) * 4 + deg) skewY(-18deg);
  }
}

@mixin list-four {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
  &:first-child {
    background-color: #e96479;
    transform: rotate((360 / 4) * 0 + deg);
  }

  &:nth-child(2) {
    background-color: #4d455d;
    transform: rotate((360 / 4) * 1 + deg);
  }

  &:nth-child(3) {
    background-color: #f2cd5c;
    transform: rotate((360 / 4) * 2 + deg);
  }

  &:nth-child(4) {
    background-color: #7db9b6;
    transform: rotate((360 / 4) * 3 + deg);
  }
}

@mixin list-three {
  overflow: hidden;
  position: absolute;
  top: -20%;
  right: -20%;
  width: 70%;
  height: 70%;
  transform-origin: 0% 100%;

  &:first-child {
    background-color: #e96479;
    transform: rotate((360 / 3) * 0 + deg) skew(30 + deg);
  }

  &:nth-child(2) {
    background-color: #4d455d;
    transform: rotate((360 / 3) * 1 + deg) skew(30 + deg);
  }

  &:nth-child(3) {
    background-color: #f2cd5c;
    transform: rotate((360 / 3) * 2 + deg) skew(30 + deg);
  }
}

@mixin list-two {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 50%;
  transform-origin: 0% 100%;

  &:first-child {
    background-color: #e96479;
    transform: rotate((360 / 2) * 0 + deg);
  }

  &:nth-child(2) {
    left: 100%;
    background-color: #4d455d;
    transform: rotate((360 / 2) * 1 + deg);
  }
}

@mixin list-one {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform-origin: 0% 100%;

  &:first-child {
    background-color: #e96479;
  }
}

.li {
  outline: 2px solid black;
  &:hover {
    opacity: 80%;
  }

  &.six {
    @include list-six;
  }

  &.five {
    @include list-five;
  }

  &.four {
    @include list-four;
  }

  &.three {
    @include list-three;
  }

  &.two {
    @include list-two;
  }

  &.one {
    @include list-one;
  }
}

.title {
  display: block;
  position: relative;
  left: -100%;
  width: 200%;
  height: 200%;
  text-align: center;
  font-size: 14px;
  font-weight: 800;
  padding-top: 30px;

  &.six {
    transform: skewY(30deg) rotate(30deg);
  }

  &.five {
    transform: skewY(18deg) rotate(36deg);
  }

  &.four {
    transform: skewY(0deg) rotate(45deg);
  }

  &.three {
    padding-top: 80px;
    transform: skewY(-15deg) rotate(60deg);
  }

  &.two {
    left: 0%;
    width: 100%;
    height: 100%;
  }

  &.one {
    left: 0%;
    width: 100%;
    height: 100%;
  }
}
